html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#canvas {
  background-color: white;
  display: none;
}
.container {
  height: 100%;
}

#container-screen-items {
  background-image: url("./assets/images/extra/screen.png");
  background-repeat: no-repeat;
  object-fit: fill;
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#try-again {
  display: none;
}

/* #start-text {
  display: none;
} */

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: rgb(223, 235, 238);
  padding-top: 300px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgb(17, 135, 233);
  text-align: center;
  animation: opacityOn 2s normal infinite;
  animation-delay: 1s;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
